@charset "UTF-8";
:root {
  --kurly-color: rgb(95, 0, 128);
  --gray-color: rgb(217, 217, 217);
  --dark-gray-color: rgb(181, 181, 181);
  --font-title: 28px;
  --font-large: 20px;
  --font-small: 12px;
}

body {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
  color: #333333;
  font-size: 16px;
}

.header {
  position: relative;
  width: 1050px;
  height: 100px;
  margin: 0px auto;
}
.header .customer {
  font-size: var(--font-small);
  position: absolute;
  right: 0px;
  padding: 8px;
  margin-top: 10px;
}
.header .customer .cus-content {
  padding: 4px;
}
.header .customer .cus-content.sign-up {
  color: var(--kurly-color);
}
.header .customer .cus-content::after {
  color: var(--gray-color);
  padding-left: 6px;
  content: " | ";
}
.header .customer .cus-content:last-child::after {
  content: none;
}
.header .title {
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.header .title .title-left {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.header .title .title-left .left-content {
  font-size: 18px;
  margin-left: 10px;
}
.header .title .title-left .left-content.market {
  color: var(--kurly-color);
  margin-left: 20px;
}
.header .title .title-left .left-content.beauty {
  color: var(--dark-gray-color);
}
.header .title .title-left .left-content.beauty::before {
  content: "|";
  padding-right: 10px;
  color: var(--gray-color);
}
.header .title .title-middle {
  position: relative;
  margin-left: 60px;
}
.header .title .title-middle .search {
  border: 1px solid rgb(95, 0, 128);
  border-radius: 6px;
  display: flex;
  width: 450px;
  height: 48px;
  padding-left: 14px;
}
.header .title .title-middle .search .search-box {
  font-size: 14px;
  border: 0;
  width: 400px;
}
.header .title .title-middle .search .search-box:focus {
  outline: none;
}
.header .title .title-middle .search .submit {
  position: absolute;
  right: 10px;
  top: 7px;
  height: 30px;
  width: 30px;
  border: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==") no-repeat 0px 0px;
}
.header .title .title-right {
  display: flex;
  position: absolute;
  right: 0;
}
.header .title .title-right .right-icon {
  margin: 10px;
}
.header .title .title-right .right-icon.location {
  width: 36px;
  height: 36px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K") no-repeat;
}
.header .title .title-right .right-icon.heart {
  width: 36px;
  height: 36px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==") no-repeat;
}
.header .title .title-right .right-icon.shopping {
  width: 36px;
  height: 36px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==") no-repeat;
}
.header .nav {
  display: flex;
  height: 56px;
  margin-top: 10px;
}
.header .nav .category {
  display: flex;
  align-items: center;
}
.header .nav .category .cate-content.cate-icon {
  width: 16px;
  height: 14px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==") no-repeat;
  margin-right: 14px;
}
.header .nav .category .cate-content.cate-text {
  font-weight: 800;
}
.header .nav .tab {
  display: flex;
  margin-left: 200px;
  align-items: center;
}
.header .nav .tab .tab-content {
  width: 150px;
  font-weight: 800;
}
.header .nav .tab .tab-content:hover {
  color: var(--kurly-color);
  cursor: pointer;
}
.header .nav .guide {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -53.5px;
  font-size: 13px;
  color: var(--dark-gray-color);
  padding: 6px 16px;
  border-radius: 18px;
  border: 1px solid rgb(238, 238, 238);
}
.header .nav .guide .guide-style {
  padding: 0;
  color: var(--kurly-color);
}

.shadow {
  height: 100px;
  position: relative;
  z-index: 999999;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.main {
  position: relative;
  margin: 0 auto;
}
.main .banner {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
.main .banner .banner-img {
  min-width: 1050px;
  min-height: auto;
  height: 370px;
}
.main .banner .banner-img img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.main .main-box {
  min-height: auto;
  width: 1050px;
  margin: 0 auto;
  padding: 30px 0;
}
.main .main-box.recommend {
  padding: 100px 0;
}
.main .main-box.recommend .box-title {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  font-size: var(--font-title);
  font-weight: 800;
}
.main .main-box.recommend .box-content {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}
.main .main-box.recommend .box-content .product {
  width: 249px;
  margin-right: 18px;
}
.main .main-box.recommend .box-content .product .product-img {
  height: 320px;
}
.main .main-box.recommend .box-content .product .product-info {
  position: relative;
  padding: 14px 10px 0px 0px;
}
.main .main-box.recommend .box-content .product .product-info .product-name {
  line-height: 1.45;
  margin-bottom: 8px;
}
.main .main-box.recommend .box-content .product .product-info .product-price {
  font-weight: bold;
  line-height: 1.5;
}
.main .main-box.recommend .box-content .product .product-info .product-review {
  padding-top: 8px;
  font-size: var(--font-small);
  font-weight: 300;
  display: flex;
}
.main .main-box.recommend .box-content .product .product-info .product-review .review-icon {
  width: 15px;
  height: 15px;
  margin: 0px 2px 0px 0px;
}
.main .main-box.notice img {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  display: block;
}
.main .main-box.collection {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.main .main-box.collection .collection-top {
  display: flex;
}
.main .main-box.collection .collection-top .collection-left {
  margin-right: 36px;
}
.main .main-box.collection .collection-top .collection-left .left-img {
  height: 308px;
}
.main .main-box.collection .collection-top .collection-right {
  letter-spacing: -0.2px;
}
.main .main-box.collection .collection-top .collection-right .right-top {
  display: block;
  font-weight: 600;
  font-size: var(--font-title);
  line-height: 40px;
}
.main .main-box.collection .collection-top .collection-right .right-bottom {
  padding-top: 23px;
  line-height: 26px;
}
.main .main-box.collection .collection-bottom {
  padding: 12px 0px 20px;
}
.main .main-box.collection .collection-bottom .bottom-list {
  display: flex;
  flex-wrap: wrap;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item {
  width: 525px;
  display: flex;
  padding-top: 24px;
  margin: auto;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item .item-img {
  height: 92px;
  margin-right: 20px;
  max-width: 100%;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item .item-content {
  flex: 0 0 311px;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item .item-content .content-name {
  width: 295px;
  padding-top: 9px;
  line-height: 23px;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item .item-content .content-price {
  padding-top: 7px;
  font-weight: bold;
  line-height: 24px;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item .item-button {
  display: block;
  width: 104px;
  height: 36px;
  margin-top: 18px;
  padding: 0px 0px 1px 49px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHN0cm9rZT0iIzMzMyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgIDxwYXRoIGQ9Ik0xLjUzNiAyLjdoMi4zOThsMS44MzUgNy45MDloNy44OGwxLjY1MS02LjI1SDQuODdNMTIuODU5IDE0LjkzM2ExLjEzNCAxLjEzNCAwIDEgMCAwLTIuMjY3IDEuMTM0IDEuMTM0IDAgMCAwIDAgMi4yNjd6TTYuNDk0IDE0LjkzM2ExLjEzNCAxLjEzNCAwIDEgMCAwLTIuMjY3IDEuMTM0IDEuMTM0IDAgMCAwIDAgMi4yNjd6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) 29px 50% no-repeat;
  text-align: left;
}
.main .main-box.collection .collection-bottom .bottom-list .list-item .item-button::after {
  content: "담기";
  font-size: 13px;
  line-height: 20px;
}

/*# sourceMappingURL=style.css.map */
