/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

// CSS 속성 초기화

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// 색상 및 폰트 사이즈 변수 생성
:root {
	--kurly-color: rgb(95, 0, 128);
	--gray-color: rgb(217, 217, 217);
	--dark-gray-color: rgb(181, 181, 181);
	--font-title: 28px;
	--font-large: 20px;
	// --font-mid: 16px;
	--font-small: 12px;
}

body {
	font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
	color: #333333;
	font-size: 16px;
}

// Header
.header {
	position: relative;
	width: 1050px;
	height: 100px;
	margin: 0px auto;
	.customer {
		// height: 35px;
		font-size: var(--font-small);
		position: absolute;
		right: 0px;
		padding: 8px;
		margin-top: 10px;
		.cus-content {
			padding: 4px;
			&.sign-up {
				color: var(--kurly-color);
			}
			&::after {
				color: var(--gray-color);
				padding-left: 6px;
				content: ' | ';
			}
			&:last-child::after {
				content: none;
			}
		}
	}
	.title {
		height: 100px;
		// background-color: blue;
		display: flex;
		align-items: flex-end;
		.title-left {
			display: flex;
			align-items: center;
			margin-bottom: 8px;
			.left-content {
				font-size: 18px;
				margin-left: 10px;
				color: var(--dark-gray-color);
				cursor: pointer;
				&.activeColor {
					color: var(--kurly-color);
				}
				&.market {
					margin-left: 20px;
					&:hover {
						color: var(--kurly-color);
					}
				}
				&.beauty {
					&::before {
						content: '|';
						padding-right: 10px;
						color: var(--gray-color);
					}
					&:hover {
						color: var(--kurly-color);
					}
				}
			}
		}
		.title-middle {
			position: relative;
			margin-left: 60px;
			.search {
				border: 1px solid rgb(95, 0, 128);
				border-radius: 6px;
				display: flex;
				width: 450px;
				height: 48px;
				padding-left: 14px;
				.search-box {
					font-size: 14px;
					border: 0;
					width: 400px;
					&:focus {
						outline: none;
					}
				}
				.submit {
					position: absolute;
					right: 10px;
					top: 7px;
					height: 30px;
					width: 30px;
					border: 0;
					background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==')
						no-repeat 0px 0px;
				}
			}
		}
		.title-right {
			display: flex;
			position: absolute;
			right: 0;
			.right-icon {
				margin: 10px;
				&.location {
					width: 36px;
					height: 36px;
					background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K')
						no-repeat;
				}
				&.heart {
					width: 36px;
					height: 36px;
					background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==')
						no-repeat;
				}
				&.shopping {
					width: 36px;
					height: 36px;
					background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==')
						no-repeat;
				}
			}
		}
	}
	.nav {
		display: flex;
		height: 56px;
		margin-top: 10px;
		// background-color: orange;
		.category {
			display: flex;
			align-items: center;
			.cate-content {
				&.cate-icon {
					width: 16px;
					height: 14px;
					background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==')
						no-repeat;
					margin-right: 14px;
				}
				&.cate-text {
					font-weight: 800;
				}
			}
		}
		.tab {
			display: flex;
			margin-left: 200px;
			align-items: center;
			.tab-content {
				width: 150px;
				font-weight: 800;
				&:hover {
					color: var(--kurly-color);
					cursor: pointer;
				}
			}
		}
		.guide {
			display: flex;
			align-items: center;
			position: absolute;
			right: 0;
			bottom: -53.5px;
			font-size: 13px;
			color: var(--dark-gray-color);
			padding: 6px 16px;
			border-radius: 18px;
			border: 1px solid rgb(238, 238, 238);
			.guide-style {
				padding: 0;
				color: var(--kurly-color);
			}
		}
	}
}
.shadow {
	height: 70px;
	position: relative;
	z-index: 9999;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.swiper-button-next,
.swiper-button-prev {
	// color: var(--kurly-color) !important;
	width: 52px !important;
	height: 52px !important;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTIiIGhlaWdodD0iNTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxjaXJjbGUgZmlsbC1vcGFjaXR5PSIuMiIgZmlsbD0iIzAwMCIgY3g9IjI1IiBjeT0iMjUiIHI9IjI1Ii8+CiAgICAgICAgPHBhdGggZD0iTTIyLjI4NSAzMy42OTlhMSAxIDAgMCAwIDEuMzE5LjA5OGwuMDk1LS4wODIgOC03LjgxN2ExIDEgMCAwIDAgLjEwOC0xLjMwNmwtLjA4LS4wOTYtNy43MjMtOC4xODJhMSAxIDAgMCAwLTEuNTM1IDEuMjc2bC4wOC4wOTYgNy4wNDkgNy40NjktNy4yOTcgNy4xM2ExIDEgMCAwIDAtLjA5OCAxLjMxOWwuMDgyLjA5NXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPgogICAgPC9nPgo8L3N2Zz4K');
	&::after {
		content: unset !important;
	}
	&.swiper-button-prev {
		transform: rotate(180deg);
	}
}

// Popup
// .popup-wrapper {
// 	z-index: 99999;
// 	position: fixed;
// 	width: 350px;
// 	left: 20%;
// 	img {
// 		width: 350px;
// 	}
// 	.popup-button {
// 		margin-top: -15px;
// 		background-color: #96e2d8;
// 		button {
// 			font-size: var(--font-small);
// 			font-weight: 500;
// 			border: none;
// 			background-color: #96e2d8;
// 			padding: 5px;
// 			margin: 6px;
// 			cursor: pointer;
// 		}
// 	}
// }

// Main
.main {
	position: relative;
	margin: 0 auto;
	.banner {
		width: 100%;
		max-width: 1900px;
		margin: 0 auto;
		.banner-img {
			min-width: 1050px;
			min-height: auto;
			img {
				min-width: 100%;
				max-width: 100%;
				min-height: 100%;
				max-height: 100%;
				object-fit: cover;
				&.non-view {
					display: none;
				}
				&.view {
					display: block;
				}
			}
		}
	}
	.main-box {
		min-height: auto;
		// width: 1050px;
		width: 75%;
		margin: 0 auto;
		padding: 30px 0;
		&.recommend {
			padding: 100px 0;
			margin: 0 auto;
			.box-title {
				display: flex;
				justify-content: center;
				margin-bottom: 27px;
				font-size: var(--font-title);
				font-weight: 800;
			}
			.box-content {
				display: flex;
				flex-wrap: wrap;
				position: relative;
				margin: 0 auto;
				margin-top: 50px;
				// display: grid;
				// grid-template-columns: repeat(4, 1fr);
				// grid-auto-columns: minmax(auto, auto);
				.product {
					width: 262px;
					margin-right: 18px;
					margin-bottom: 30px;
					.imgContainer {
						overflow: hidden;
						position: relative;
						height: 320px;
						&:hover .product-img {
							transform: scale(1.02);
							transition: all 0.3s;
						}
					}
					.product-img {
						height: 320px;
					}
					.product-info {
						position: relative;
						padding: 14px 10px 0px 0px;
						.product-name {
							line-height: 1.45;
							margin-bottom: 8px;
						}
						.product-price {
							font-weight: bold;
							line-height: 1.5;
						}
						.product-review {
							padding-top: 8px;
							font-size: var(--font-small);
							font-weight: 300;
							display: flex;
							.review-icon {
								width: 15px;
								height: 15px;
								margin: 0px 2px 0px 0px;
							}
						}
					}
				}
			}
		}
		&.notice {
			img {
				width: 100%;
				height: 140px;
				margin: 0 auto;
				display: block;
			}
		}
		&.collection {
			// width: 1050px;
			display: flex;
			flex-wrap: wrap;
			padding-top: 50px;
			.collection-top {
				display: flex;
				.collection-left {
					// margin-right: 36px;
					.left-img {
						height: 308px;
					}
				}
				.collection-right {
					position: relative;
					left: 36px;
					letter-spacing: -0.2px;
					.right-top {
						display: block;
						font-weight: 600;
						font-size: var(--font-title);
						line-height: 40px;
					}
					.right-bottom {
						padding-top: 23px;
						line-height: 26px;
					}
				}
			}
			.collection-bottom {
				padding: 12px 0px 20px;
				.bottom-list {
					display: flex;
					flex-wrap: wrap;
					.list-item {
						width: 525px;
						display: flex;
						padding-top: 24px;
						margin: auto;
						.item-img {
							height: 92px;
							margin-right: 20px;
							max-width: 100%;
						}
						.item-content {
							flex: 0 0 311px;
							.content-name {
								width: 295px;
								padding-top: 9px;
								line-height: 23px;
							}
							.content-price {
								padding-top: 7px;
								font-weight: bold;
								line-height: 24px;
							}
						}
						.item-button {
							display: block;
							width: 104px;
							height: 36px;
							margin-top: 18px;
							padding: 0px 0px 1px 49px;
							border: 1px solid rgb(221, 221, 221);
							border-radius: 4px;
							background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHN0cm9rZT0iIzMzMyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgIDxwYXRoIGQ9Ik0xLjUzNiAyLjdoMi4zOThsMS44MzUgNy45MDloNy44OGwxLjY1MS02LjI1SDQuODdNMTIuODU5IDE0LjkzM2ExLjEzNCAxLjEzNCAwIDEgMCAwLTIuMjY3IDEuMTM0IDEuMTM0IDAgMCAwIDAgMi4yNjd6TTYuNDk0IDE0LjkzM2ExLjEzNCAxLjEzNCAwIDEgMCAwLTIuMjY3IDEuMTM0IDEuMTM0IDAgMCAwIDAgMi4yNjd6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=')
								29px 50% no-repeat;
							text-align: left;
							&::after {
								content: '담기';
								font-size: 13px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1260px) {
	.main-box {
		&.recommend {
			.box-content {
				justify-content: center;
			}
		}
		&.notice {
			padding: 0;
			img {
				object-fit: contain;
			}
		}
	}
	.collection-top {
		padding-top: 10px;
		flex-wrap: wrap;
		.collection-left {
			margin: 0;
			.left-img {
				width: 100%;
				object-fit: contain;
			}
		}
		.collection-right {
			margin-top: 20px;
			left: 0 !important;
		}
	}
}
